<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</p>
<div th:if="${owner}">
    <a  th:text="'Книга сейчас у: '+ ${owner.getName()}">value</a>
    <form th:method="PATCH" th:action="@{/books/{bookID}/release(bookID=${book.getBookID()})}">
        <input type="submit" value="Освободить">
    </form>
</div>
<div th:unless="${owner}">
    <a th:text="'Книга свободна. Кому назначит ее?'">value</a>
    <form th:method="PATCH" th:action="@{/books/{bookID}/assign(bookID=${book.getBookID()})}" >
    <label for="person">Выберите человека</label>
        <select th:object="${person}" th:field="*{personID}" id="person">
            <option th:each="person : ${people}" th:value="${person.getPersonID()}" th:text="${person.getName()}"></option>
        </select>
        <input type="submit" value="Назначить"/>
    </form>
</div>


<br/>
<hr/>
<form th:action="@{/books/{bookID}/edit(bookID=${book.getBookID()})}">
    <input type="submit" value="Редактировать">
</form>
<form th:method="DELETE" th:action="@{/books/{bookID}(bookID=${book.getBookID()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>